
* {
    font-family: "Ubuntu Sans Mono", monospace;
    box-sizing: border-box;
}

body {
    background-color: #003235;
    color: white;
}

h1 {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

img {
    width: 400px;
    height: auto;
    border-radius: 10px;
    float: left;
    border: 3px white solid;
    margin-right: 40px;
}

.content {
    font-size: 18px;
}

.ingredients {
    display: inline;
}

a {
    color: white;
    margin: 0 150px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

ul {
    list-style-type: circle;
}
