* {
    font-family: "Ubuntu Sans Mono", monospace;
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: #003235;
    color: white;
}

.recipes-container {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-title {
    font-weight: 600;
    font-size: 25px;
    margin: 20px 0;
}

img {
    width: auto;
    height: 300px;
    border: 3px solid white;
    border-radius: 20px;
}

a {
    color: white;
    text-decoration: none;
}