* {
    font-family: "Ubuntu Sans Mono", monospace;
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: #003235;
    color: white;
}

img {
    width: 600px;
    height: auto;
    border: 3px solid white;
    border-radius: 20px;
}

.recipes {
    padding-top: 20px;
    font-weight: bold;
    font-size: 30px;
}

a {
    color: white;
    text-decoration: none;
}

